---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

Available materials from presentations are uploaded on Slideshare:<br />
  - To Luigi's Slideshare page: [link](https://www.slideshare.net/luigivanfretti)<br />

A few recorded videos of my talks are available on Youtube:<br />
  - Luigi's Youtube Channel: [link](https://www.youtube.com/user/lvanfretti)<br />
  - Talk at the Institute for Systems Research, University of Maryland: [link](https://youtu.be/h_RrjAXs8rM)<br />
  - Playlist of videos with Luigi from other channels: [link](https://www.youtube.com/watch?v=5Uf5FcqsjiA&list=PL3ewLNwzPhxI9PQR9-ARqa4tDRXU9W_ql)<br />

<!---
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
--->
